

<main class=" row border border-1 mt-2">
    <div class="col  " >
    <%= image_tag (@show_user.photo), height: 200 ,width: 150 %>
</div>
<div class="col mt-3" >
 <h2><%=@show_user.name%></h2>
 <h3>Number of posts: <%= @show_user.posts_counter%></h3>
</div>


    <div>


</div>
</main>
<div class="border border-1">
        <h2>Bio</h2>
<p><%=@show_user.bio %></p>
</div>


<%@show_user.recent_posts.each do |post|%>
<div class="border border-1">
<p><%=post.title%></p>
<p><%=post.text%></p>
 <p class="counter"><%= "Comments: #{post.comments_counter || 0}, Likes: #{post.likes_counter || 0 }" %></p>
</div>
<%end%>
<div class="col-md-12 text-center mt-2" >
<button class="btn  btn-outline-secondary" > 
<%= link_to ('see all posts'),user_posts_path(@show_user.id ),class:"btn" %>
 </button>
 </div> 
 <br/>
 <br/>
 <%= link_to ('back home'),users_path ,class:"d-flex align-items-center justify-content-center m-3"%>


   

